# Node
node_modules/
dist/
*.log

# Python
backend/__pycache__/
backend/**/*.pyc
*.pyc

# Env/Secrets
.env
backend/.env
backend/client_secret.json

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc stray files
**/tat -ano*/
**/tat -ano*
